.vs/
*/Configs/*/*
*/extensions/*/*.cpp
*/extensions/*/*.dll
*/Release/
Release/
*.gmz
*.sdf
*.VC.opendb
help.rtf
/buffer_zlib/adler32.c
/buffer_zlib/compress.c
/buffer_zlib/crc32.c
/buffer_zlib/crc32.h
/buffer_zlib/deflate.c
/buffer_zlib/deflate.h
/buffer_zlib/gzclose.c
/buffer_zlib/gzguts.h
/buffer_zlib/gzlib.c
/buffer_zlib/gzread.c
/buffer_zlib/gzwrite.c
/buffer_zlib/infback.c
/buffer_zlib/inffast.c
/buffer_zlib/inffast.h
/buffer_zlib/inffixed.h
/buffer_zlib/inflate.c
/buffer_zlib/inflate.h
/buffer_zlib/inftrees.c
/buffer_zlib/inftrees.h
/buffer_zlib/trees.c
/buffer_zlib/trees.h
/buffer_zlib/uncompr.c
/buffer_zlib/zconf.h
/buffer_zlib/zlib.h
/buffer_zlib/zutil.c
/buffer_zlib/zutil.h
export/*.gmez
export/*.gmz
export/*.png